.container {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.search_btns {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}

.auctionTotal {
  font-size: larger;
  display: flex;
  align-items: center;
}
